* {
    margin: 0;
    padding: 0;
}

html, 
body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url(./static/cover.jpg);
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
    box-shadow: 2px 2px 2px #ccc,2px -2px 2px #ccc,-2px 2px 2px #ccc,-2px -2px 2px #ccc;
    background-color: #fff;
    border-radius: 2%;
}

.back {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 15px;
    height: 15px;
}

.user-photo {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.user-name, 
.user-des {
    font-weight: 900;
}

.user-name {
    font-size: 1.4em;
    color: #6d695f;
    margin-bottom: 25px;
}

.user-des {
    font-size: 1.2em;
    color: #9b9588;
}

.user-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
}

.user-album, 
.user-location {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.list-icon {
    padding-bottom: 10px;
    width: 30px;
    height: 30px;
}

.animation {
    animation-name: bounce-in;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-delay: 0;
    animation-fill-mode: forwards;
    animation-play-state: running;

    /* Safari  and Chrome */
     -webkit-animation-name: bounce-in;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay: 0;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-play-state: running;
}

@keyframes bounce-in {
    0% {
        left: 0;
        top: -100%;
    } 
    100% {
        left: 0;
        top: 0;
    }
}

/* Safari and Chrome */
@-webkit-keyframes bounce-in {
    0% {
        left: 50%; 
        top: 0%;
    }
    100% {
        left: 50%; 
        top: 50%;
    }

}