* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url(./static/cover.jpg);
    background-size: cover;
    overflow: hidden;
}

.user-card {
    position: relative;
    width: 500px;
    height: 500px;
    margin: 100px 50%;
    left: -250px;
    box-shadow: 2px 2px 2px #ccc,2px -2px 2px #ccc,-2px 2px 2px #ccc,-2px -2px 2px #ccc;
    background-color: #fff;
    border-radius: 2%;
}

.back {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 15px;
    height: 15px;
}

.user-photo {
    width: 100px;
    height: 100px;
    margin: 40px 200px 20px;
    border-radius: 50%;
}

.user-name, .user-des {
    font-weight: 900;
    text-align: center;
}

.user-name {
    font-size: 1.2em;
    color: #6d695f;
    margin-bottom: 25px;
}

.user-des {
    font-size: 1em;
    color: #9b9588;
}

.user-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
}

.user-album, .user-location {
    width: 50%;
    height: 100%;
}

.list-icon {
    position: relative;
    margin: 30% 50% 10px;
    left: -15px;
    width: 30px;
    height: 30px;
}

.list-text {
    text-align: center;
}

.animation {
    width: 600px;
    height: 600px;
    position: relative;
    animation-name: bounce-in;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-delay: 0;
    animation-fill-mode: forwards;
    animation-play-state: running;
    transform: translate(-50%,-50%);

    /* Safari  and Chrome */
    -webkit-animation-name: bounce-in;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay: 0;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-play-state: running;
    -webkit-transform: translate(-50%,-50%);
}

@keyframes bounce-in {
    0%   {left: 0%; top: 0%;} 
    100% {left:50%; top:50%;}
}

/* Safari and Chrome */
@-webkit-keyframes bounce-in {
    0% {left: 0%; top: 0%;}
    100% {left: 0%; top: 0%;}

}